<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Futquero</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/list.css">
    <link rel="stylesheet" href="../static/match.css">
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="header-title">FutQuero</h1>
    </header>

    {% block content %}

    {% endblock content %}

    <div class="col-12 nav-bar">
        <form class="nav-item" action="/list">
            <i class="nav-button ri-user-search-line ri-xl"></i>
            <input class="nav-button" type="submit" value="">
        </form>
        <form class="nav-item" action="/">
            <i class="nav-button ri-football-line ri-xl"></i>
            <input class="nav-button" type="submit" value="">
        </form>
        <form class="nav-item" action="/config">
            <i class="nav-button ri-settings-line ri-xl"></i>
            <input class="nav-button" type="submit" value="">
        </form>
    </div>
</body>

</html>